$primary: #4C4DDC;
$secondary: #FFD33C;
$success: #50CD89;
$error:#F14141;
$info:#7239EA;


$neutral_10: #ffff;
$neutral_20: #f5f5f5;
$neutral_30:#EDEDED;
$neutral_40:#D6D6D6;
$neutral_50:#c2c2c2;
$neutral_60:#878787;
$neutral_70:#606060;
$neutral_80:#383838;
$neutral_90:#403A3A; 
$neutral_100:#101010;





