<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.scss">
    <title>Coca</title>
</head>

<body>
    <header class="wrap">
        <div class="header__wrap">
            <a class="header__logo-href" href="/">
                <img class="header__logo-img" src="./assets/Logo.png" alt="logo"></a>
            <nav class="header__menu">
                <ul class="header__ul">
                    <li class="header__item"><a class="header__item-href" href="">Home</a></li>
                    <li class="header__item"><a class="header__item-href" href="">About</a></li>
                    <li class="header__item"><a class="header__item-href" href="">Blog</a></li>
                    <li class="header__item"><a class="header__item-href" href="">Pricing</a></li>
                </ul>
                <div class="header__contact"><a href="" class="header__contact-href">Contact Us</a></div>
            </nav>
        </div>
    </header>
    <section>
        <div class="wrap firstScreen">
            <div class="firstScreen__left">
                <h1 class="firstScreen__left-header">Digitally forward creative</h1>
                <h4 class="firstScreen__left-text">When it comes to interactive marketing, we've got you covered.
                    <br> Be where the world is going
                </h4>
                <div class="firstScreen__left-email">
                    <input type="text" class="firstScreen__left-input email__input" placeholder="Enter your email">
                    <button class="firstScreen__left-button">Try for free</button>
                </div>
            </div>
            <div class="firstScreen__right">
                <img class="firstScreen__img-sales" src="./assets/Sales.svg" alt="sales-img">
                <img class="firstScreen__img-growth" src="./assets/Customer_Growth.svg" alt="growth analitic img">
                <img class="firstScreen__img-statistic" src="./assets/Statistic.svg" alt="statistic img">
            </div>
        </div>
    </section>

    <section class="black-wrap">
        <div class="wrap problem">
            <div class="problem__head">
                <h2 class="problem__head-header">Coca help our client solve complex customer problems with date that
                    does more.</h2>
                <p class="problem__head-txt">Our platform offers the modern enterprise full control of how date can be
                    access and used with industry leading software solutions for identity, activation, and date
                    collaboration</p>
            </div>
            <div class="problem__blocks">
                <div class="problem__blocks-block block">
                    <img src="./assets/icons/calendar.svg" alt="" class="block__icon">
                    <h4 class="block__header">Build your date fundamental</h4>
                    <p class="block__txt">Build access to date, develop valuable business insights and drive revenue
                        while maintaining full control over access and use of date at all times.</p>
                </div>
                <div class="problem__blocks-block block">
                    <img src="./assets/icons/tick.svg" alt="" class="block__icon">
                    <h4 class="block__header">Measure more effective</h4>
                    <p class="block__txt">BEffectively measure people-based campaigns with the freedom to choose from
                        best-of breed partners to optimize and drive media innovation.</p>
                </div>
            </div>
            <div class="problem__blocks">
                <div class="problem__blocks-block block">
                    <img src="./assets/icons/list.svg" alt="" class="block__icon">
                    <h4 class="block__header">Activate your date</h4>
                    <p class="block__txt">Accurately address your specific audiences at scale across any channel,
                        platform, publisher or network and safely translate date between identity space to improve
                        results.</p>
                </div>
                <div class="problem__blocks-block block">
                    <img src="./assets/icons/guard.svg" alt="" class="block__icon">
                    <h4 class="block__header">Strengthen consumer privacy</h4>
                    <p class="block__txt">Protect your customer date with leading privacy-preserving technologies and
                        advanced techniques to minimize date movement while still enabling insight generation.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="wrap passion">
        <div class="passion__wrap">
            <div class="passion__images">
                <img src="./assets/BarChart.svg" alt="">
            </div>
            <div class="passion__block">
                <h2 class="passion__header">Passion to increase company revenue up to 85%</h2>
                <p class="passion__txt">Automate your sales, marketing and service in one platform. Avoid date leaks and
                    enable consistent messaging</p>
                <div class="passion__ticks">
                    <p class="passion__tick">Close more deals with single - page contact managment</p>
                    <p class="passion__tick">Enjoy one-click calling, call scripts and voicemail automation</p>
                    <p class="passion__tick">Take stages and milestones of your deals to keep the sales process an track
                    </p>
                </div>
            </div>

        </div>

    </section>

    <section class="wrap strength">
        <div class="strength__numbs nums">
            <div class="nums__block">
                <div class="nums__block-wrap">
                    <p class="nums__block-header">17k</p>
                    <p class="nums__block-txt">happy customers on worldwide</p>
                </div>
            </div>
            <div class="nums__block">
                <div class="nums__block-wrap">
                    <p class="nums__block-header">15+</p>
                    <p class="nums__block-txt">Hours of work experience</p>
                </div>
            </div>
            <div class="nums__block">
                <div class="nums__block-wrap">
                    <p class="nums__block-header">50+</p>
                    <p class="nums__block-txt">Creativity & passionate members</p>
                </div>
            </div>
            <div class="nums__block">
                <div class="nums__block-wrap">
                    <p class="nums__block-header">100+</p>
                    <p class="nums__block-txt">Integrations lorem ipsum integrations</p>
                </div>
            </div>
        </div>
        <div class="strength__img">
        </div>
        <div class="strength__txt">
            <p class="strength__txt-big">
                Lift your business to new heights with our digital marketing services
            </p>
            <p class="strength__txt-small">
                To build software that gives customer facing teams in small and medium-sized businesses the ability to
                create rewarding and long-lasting relationships with customers
            </p>
        </div>
    </section>

    <section class="wrap partners__wrap">
        <div class="partners">
            <div class="partners__info">
                <p class="partners__header">890+</p>
                <p class="partners__txt">
                    some big companies that we work with, and trust us very much
                </p>
            </div>
            <div class="partners__logos">
                <img class="partners__logos-img" src="./assets/logos/Airbnb.svg" alt="AirbnbLogo">
                <img class="partners__logos-img" src="./assets/logos/Amazon.svg" alt="AmazonLogo">
                <img class="partners__logos-img" src="./assets/logos/FedEx.svg" alt="FedExLogo">
                <img class="partners__logos-img" src="./assets/logos/Microsoft.svg" alt="Microsoft">
                <img class="partners__logos-img" src="./assets/logos/Google.svg" alt="GoogleLogo">
                <img class="partners__logos-img" src="./assets/logos/Ola.svg" alt="OlaLogo">
                <img class="partners__logos-img" src="./assets/logos/Walmart.svg" alt="WalmartLogo">
                <img class="partners__logos-img" src="./assets/logos/OYO.svg" alt="OYOLogo">
            </div>
        </div>
    </section>
</body>

</html>